<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= forumTitle %> | <%= siteTitle %></title>
    <%- include("partials/variables") %>
</head>
    <style>
        body { 
            background-color: var(--bg); 
            color: var(--text-main); 
            font-family: var(--font-family);
            line-height: 1.6;
            -webkit-font-smoothing: antialiased;
        }

        .container { width: 95%; max-width: 1800px; margin: 20px auto; }


        #posts-feed {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
            gap: 40px 16px;
            padding: 20px;
        }
    </style>

<body>
<%- include("partials/navBar") %>

<%- include("partials/imageViewer") %>

<div class="container">
    <div id="posts-feed">
        <%- include("partials/posts") %> 
    </div>
    
    <%- include("partials/pagination") %> 
    
    <%- include("partials/notification") %> 
    
</div>

</body>
</html>